<template>
  <login-painel>
    <form @submit.prevent="enviar()">

      <alert-dismissible :msgTitulo="emailAlertTitulo" :msgCorpo="emailAlertCorpo" :status="emailStatus"></alert-dismissible>

      <div :class="errors.has('email') ? 'form-group has-error' : 'form-group'">
        <label> Email </label>
        <input type="email" @input="email = $event.target.value" name='email' id="email" class="form-control" placeholder="Informar Email" v-validate="'required|email'">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span class="help-block" v-show="errors.has('email')">{{ errors.first('email') }}</span>
      </div>
      <button type="submit" class="btn btn-block btn-flat">Enviar</button>
    </form>
    <br>
    <router-link to="login">
      Voltar
    </router-link>
  </login-painel>
</template>

<script>
import LoginPainel from '@/pages/login/components/LoginPainel';
import EmailService from '@/domain/email/EmailService.js';
import AlertDismissible from '@/components/AlertDismissible';

export default {
  name: 'Registrar',
  components: {
    LoginPainel,
    AlertDismissible
  },
  data () {
    return {
      email: '',
      emailAlertTitulo: '',
      emailAlertCorpo: '',
      emailStatus: null
    };
  },
  methods: {
    enviar () {
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.service.enviarEmail(this.email)
              .then(response => {
                console.log(response);
                this.emailAlertTitulo = 'Email enviado!';
                this.emailAlertCorpo = 'Você receberá um e-mail com instruções de como resetar sua senha.';
                this.emailStatus = true;
                setTimeout(() => this.$router.push({ name: 'login' }), 3000);
              }, response => {
                this.emailAlertTitulo = 'Email não localizado!';
                this.emailAlertCorpo = 'Por favor, informe um email valido.';
                this.emailStatus = false;
              });
          }
        });
    }
  },
  created () {
    this.service = new EmailService();
  }
};
</script>
