<template>
  <login-painel>
    <alert-dismissible :msgTitulo="userAlertTitulo" :msgCorpo="userAlertCorpo" :status="userStatus"></alert-dismissible>
    <form @submit.prevent="logar()">
      <div :class="errors.has('email') ? 'form-group has-feedback has-error' : 'form-group has-feedback'">
        <input type="email" class="form-control" placeholder="Email" name='email' v-model="userLogin.email" v-validate="'required|email'">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span class="help-block" v-show="errors.has('email')">{{ errors.first('email') }}</span>
      </div>

      <div :class="errors.has('senha') ? 'form-group has-feedback has-error' : 'form-group has-feedback'">
        <input type="password" class="form-control" placeholder="Senha" name='senha' v-model="userLogin.senha" v-validate="'required'">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="help-block" v-show="errors.has('senha')">{{ errors.first('senha') }}</span>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"> Continuar conectado
        </label>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-block btn-flat" @click="logar">Entrar</button>
        </div>
      </div>
    </form>
    <br>
    <router-link to="esqueceusenha">
      Esqueceu a senha ?
    </router-link>
    <br>
    <router-link to="registrar">
      Registre-se aqui
    </router-link>
  </login-painel>
</template>

<script>
import LoginPainel from '@/pages/login/components/LoginPainel.vue';
import UserLogin from '@/domain/login/UserLogin.js';
import LoginService from '@/domain/login/LoginService.js';
import AlertDismissible from '@/components/AlertDismissible';
const usuario = {
  idusuario: null,
  nomeusuario: null,
  fotousuario: null
}
export default {
  name: 'Login',
  data () {
    return {
      userLogin: new UserLogin(),
      userAlertTitulo: '',
      userAlertCorpo: '',
      userStatus: null
    };
  },
  components: {
    LoginPainel,
    AlertDismissible
  },
  methods: {
    logar () {
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.service.logar(this.userLogin).then((response) => {
              this.$store.commit('LOGIN', response.headers.authorization);
              this.service.carregarLogin(this.userLogin.email)
                .then((res) => {
                  usuario.idusuario = res.data.id;
                  usuario.nomeusuario = res.data.nome;
                  usuario.fotousuario = res.data.foto;
                  this.$store.commit('LOAD_USER', usuario)
                  this.$router.push('/home')
                });
            }, response => {
              this.userAlertTitulo = 'Atenção!';
              this.userAlertCorpo = 'Usuario ou Senha invalido, tente novamente.';
              this.userStatus = false;
            });
          }
        });
    }
  },
  created () {
    this.service = new LoginService();
  }
};
</script>
