<template>
  <login-painel>
    <alert-dismissible :msgTitulo="userAlertTitulo" :msgCorpo="userAlertCorpo" :status="userStatus"></alert-dismissible>
    <form @submit.prevent="gravar()" enctype="multipart/form-data">
      <br>
      <div class="perfil">
        <img class="profile-user-img img-responsive img-circle circle-img-size" :src="url || urlImgDefault" alt="User profile picture">
        <br>
        <button class="btn btn-file btn-block btn-flat">
          Imagem de perfil
          <input type='file' id="file" ref="file" accept='image/*' @change="previewImage" />
        </button>
      </div>
      <br>
      <div :class="errors.has('nome') ? 'form-group has-error' : 'form-group'">
        <label>Nome</label>
        <input type="text" name='nome' v-model="usuario.nome" class="form-control" id="nome" placeholder="Informe nome completo" v-validate="'required|min:1'">
        <span class="help-block" v-show="errors.has('nome')">{{ errors.first('nome') }}</span>
      </div>
      <div :class="errors.has('email') ? 'form-group has-error' : 'form-group'">
        <label>Email</label>
        <input type="text" name='email' v-model="usuario.email" id="email" class="form-control" placeholder="Informar Email" v-validate="'required|email'">
        <span class="help-block" v-show="errors.has('email')">{{ errors.first('email') }}</span>
      </div>
      <div :class="errors.has('confirmar') ? 'form-group has-error' : 'form-group'">
        <label>Confirmar Email</label>
        <input type="text" name='confirmar' id="confirmar" class="form-control" placeholder="Repetir Email" v-validate="'required|email|confirmed:email'">
        <span class="help-block" v-show="errors.has('confirmar')">{{ errors.first('confirmar') }}</span>
      </div>
      <div :class="errors.has('senha') ? 'form-group has-error' : 'form-group'">
        <label>Senha</label>
        <input type="password" name='senha' v-model="usuario.password" id="senha" class="form-control" placeholder="Informa a senha" v-validate="'required|min:5'">
        <span class="help-block" v-show="errors.has('senha')">{{ errors.first('senha') }}</span>
      </div>
      <div :class="errors.has('cpf') ? 'form-group has-error' : 'form-group'">
        <label>CPF</label>
        <input type="text" name='cpf' v-model="usuario.cpf" class="form-control" id="cpf" v-mask="'999.999.999-99'" placeholder="Informe um CPF válido" v-validate="{ required: true, regex: /[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}/ }">
        <span class="help-block" v-show="errors.has('cpf')">{{ errors.first('cpf') }}</span>
      </div>
      <div :class="errors.has('cbos') ? 'form-group has-error' : 'form-group'">
        <label>CBO-S</label>
        <div :class="errors.has('cbos') ? 'erro-select' : ''">
          <v-select :options="listaCbo" name='cbos' v-validate="'required'" placeholder=" -- Selecione o Codigo do CBO -- " label="DS_CBO" v-model="usuario.cbos">
            <span slot="no-options">
              Não encontrado
            </span>
          </v-select>
        </div>
        <span class="help-block" v-show="errors.has('cbos')">{{ errors.first('cbos') }}</span>
      </div>
      <br>
      <button type="submit" class="btn btn-block btn-flat">Registrar</button>
      <br>
    </form>
    <router-link to="login">
      Voltar
    </router-link>
  </login-painel>
</template>

<script>
import LoginPainel from '@/pages/login/components/LoginPainel';
import _imgDefault from '@/assets/imgs/img-perfil-defalt.jpg';
import listaCbo from '@/components/util/listCbo.js';
import Usuario from '@/domain/usuario/Usuario.js';
import UsuarioService from '@/domain/usuario/UsuarioService.js';
import AlertDismissible from '@/components/AlertDismissible';

export default {
  name: 'Registrar',
  data () {
    return {
      usuario: new Usuario(),
      url: null,
      urlImgDefault: _imgDefault,
      listaCbo,
      userAlertTitulo: '',
      userAlertCorpo: '',
      userStatus: null
    };
  },
  components: {
    LoginPainel,
    AlertDismissible
  },
  methods: {
    previewImage (e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
      const reader = new FileReader()
      reader.onload = (event) => {
        this.file = event.target.result
      }
      reader.readAsDataURL(file)
    },
    gravar () {
      window.scrollTo(0, 0);
      this.usuario.cbos = this.usuario.cbos.CD_CBO;
      var desired = this.usuario.cpf.replace(/[-.]/gi, '');
      this.usuario.cpf = desired;
      this.usuario.foto = this.file;
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.service.cadastra(this.usuario)
              .then(response => {
                this.userAlertTitulo = 'Confirmado!'
                this.userAlertCorpo = 'Cadastro realizado com sucesso.'
                this.userStatus = true
                setTimeout(() => this.$router.push({ name: 'login' }), 3000);
              }, response => {
                this.userAlertTitulo = 'Erro !'
                this.userAlertCorpo = 'Por favor tente mais tarde.'
                this.userStatus = false
              });
          }
        });
    }
  },

  created () {
    this.service = new UsuarioService();
  }
}

</script>
<style>
.perfil {
  width: 50%;
  margin: 0 auto;
}
.circle-img-size {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}
.erro-select {
  border: 1px solid #dd4b39;
}
</style>
