<template>
  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <router-link to="/home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
        <b>MV</b>
      </span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        <b>
          <span class="logo-mv">mv</span>rempmed</b>
      </span>
    </router-link>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li>
            <datepicker input-class="hideDatepickerInput" id="data-calendario" format="MMMM / yyyy" :language="ptBR" ref="programaticOpen" v-model="vModelExample" :minimumView="'month'" :maximumView="'month'" @selected="onDateSelect">
            </datepicker>
            <a @click="openPicker">
              <span><b> {{ aux.toLowerCase() }} </b></span>
              <i class="fa fa-calendar">
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cog"></i>
            </a>
          </li>
          <li>
            <a href="#" data-toggle="control-sidebar">
              <i class="fa fa-bell"></i>
              <span class="label label-danger">9</span>
            </a>
          </li>
          <li>
            <a @click="sair">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
        </ul>
      </div>
    </nav>
  </header>
</template>
<script>
import Datepicker from 'vuejs-datepicker/dist/vuejs-datepicker.esm.js';
import { ptBR } from 'vuejs-datepicker/dist/locale'

var moment = require('moment');
moment.locale('pt-br');

export default {
  name: 'Header',
  data () {
    return {
      dataescolhida: null,
      vModelExample: null,
      ptBR: ptBR,
      aux: new Date()
    };
  },
  components: {
    Datepicker
  },
  methods: {
    sair () {
      this.$store.commit('LOGOUT');
      this.$router.push('/login');
    },
    openPicker () {
      this.$refs.programaticOpen.showCalendar();
    },
    onDateSelect (date) {
      this.aux = moment(date).format('MMMM / YYYY').toUpperCase();
      this.$store.commit('UPDATE_CALENDARIO', date);
    }
  },
  created () {
    this.aux = moment(this.aux).format('MMMM / YYYY').toUpperCase();
    // this.$store.dispatch('calendariodata', this.aux);
  }
}
</script>

<style>
#data-calendario {
  display: none;
}
.vdp-datepicker__calendar {
  margin-top: 50px;
  width: 320px;
  margin-left: -53px;
}
.vdp-datepicker__calendar .cell.selected {
  background: #4d7498;
  color: white;
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid #4D7498;
}
.navbar-custom-menu>.navbar-nav>li {
    font-size: 15px;
}
</style>
