<template>
  <div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark row">
      <div class="box-body">
        <p class="box-title">
          <b>Notificações (4)</b>
        </p>
        <br>
        <span>Hoje, 07/05/2018</span>
        <br><br>
        <div>
          <button type="button" class="btn btn-primary">Todas as notificações</button>
        </div>
      </div>
    </aside>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
export default {
  name: 'Notification'
}
</script>
<style>
.box-title {
  color: #666666;
}
</style>
