<template>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="https://static.wixstatic.com/media/807769_5a942dc0a2664cb59d9328b4701484cd~mv2_d_1290_1290_s_2.jpg/v1/fill/w_1290,h_1290,al_c,q_90/file.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ this.$store.state.user.nomeusuario }}</p>
        <!-- Status -->
        <small>Online</small>
      </div>
    </div>
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview" v-for="i in routes" :key="i.index">
          <a href="#" v-if="i.submenu">
            <i :class="i.icon"></i>
            <span>{{ i.titulo }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <router-link :to="i.path ? i.path : '/'" v-else>
            <i :class="i.icon"></i>
            <span>{{ i.titulo }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </router-link>
          <ul v-if="i.subRoutes" class="treeview-menu">
            <li v-for="f in i.subRoutes" :key="f.index">
              <router-link :to="f.path ? f.path : '/'">
                {{ f.titulo }}
              </router-link>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
</template>
<script>
import { routes } from '@/router/router'

export default {
  name: 'Sidebar',
  data () {
    return {
      routes: routes.filter(route => route.menu)
    }
  }
}
</script>
