<template>
  <div>
    <h2>
      Chamados
    </h2>
    <form @submit.prevent="gravar()">
      <alert-dismissible :msgTitulo="alertTitulo" :msgCorpo="alertCorpo" :status="alertStatus"></alert-dismissible>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div :class="errors.has('assunto') ? 'form-group has-error' : 'form-group'">
            <label>Assunto</label>
            <input type="text" class="form-control" placeholder="" v-model="chamados.assunto" id="assunto" name="assunto" v-validate="'required|min:10'" autocomplete="off" data-vv-validate-on="change" maxlength="100">
            <span class="help-block" v-show="errors.has('assunto')">{{ errors.first('assunto') }}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div :class="errors.has('cd_hospital') ? 'form-group has-error' : 'form-group'" style="border-color: #DD4B39;">
            <label>Hospital</label>
            <div :class="errors.has('cd_hospital') ? 'erro-select' : ''">
              <v-select v-model="cd_hospital" name="cd_hospital" label="label" :options="options" v-validate="'required'" placeholder=" -- Selecione o Hospital -- ">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
            </div>
            <span class="help-block" v-show="errors.has('cd_hospital')">O campo Hospital é obrigatório.</span>
          </div>
        </div>
      </div>

      <div :class="errors.has('descricao_detalhada') ? 'form-group has-error' : 'form-group'">
        <label>Descrição detalhada</label>
        <textarea rows="4" cols="50" class="form-control" v-model="chamados.descricao_detalhada" id="descricao_detalhada" name="descricao_detalhada" v-validate="'required'" autocomplete="off" data-vv-validate-on="change" maxlength="250">
        </textarea>
        <span class="help-block" v-show="errors.has('descricao_detalhada')">O campo Descrição detalhada é obrigatório.</span>
      </div>
      <div class="row">
        <div class="col-md-4" :class="validarTamanhoFile ? 'has-error' : null">
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn btn-file btn-block btn-flat">
                Anexo
                <input type="file" id="file" ref="file" accept=".jpg, .jpeg, .png, .pdf, .zip, .7zip" @change="previewAnexo" />
              </button>
            </div>
            <!-- /btn-group -->
            <input type="text" class="form-control" disabled :value="url">
          </div>
          <span class="help-block" v-show="validarTamanhoFile">O Tamanho do arquivo maior que o permitido.(5MB)</span>
        </div>
        <div class="col-md-8" style="text-align: right;">
          <button type="submit" class="btn  btn-primary">Salvar</button>
          <button type="button" class="btn  btn-default" @click="limparForm">Cancelar</button>
        </div>
      </div>
    </form>
    <hr>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" :disabled="!filter" @click="filter = ''">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Main table element -->
    <b-table ref="table" show-empty stacked="md" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection" @filtered="onFiltered">
      <template slot="isActive" slot-scope="data">
        <b-button size="sm" @click.stop="data.toggleDetails" class="btn btn-default">
          <span v-if="data.detailsShowing" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          <span v-else class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </b-button>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <div class="well">
            <b>Data do Chamado:</b> {{row.item.dt_chamado}}<br>
            <b>Resposta:</b> <br>
            <b>Anexo:</b> {{row.item.anexo}}<br>
          </div>
        </b-card>
      </template>
    </b-table>

    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Chamados from '@/domain/chamados/Chamados.js';
import ChamadosService from '@/domain/chamados/ChamadosService.js';
import AlertDismissible from '@/components/AlertDismissible';

export default {
  data () {
    return {
      items: [],
      fields: [
        { key: 'cd_chamados', label: 'Protocolo', 'class': 'text-center', sortable: true, sortDirection: 'desc' },
        { key: 'assunto', label: 'Assunto', sortable: true },
        { key: 'descricao_detalhada', label: 'Mensagen', sortable: true },
        { key: 'status', label: 'Status' },
        { key: 'isActive', label: 'Detalhes', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: null,
      sortBy: 'cd_chamados',
      sortDesc: true,
      sortDirection: 'desc',
      filter: null,
      chamados: new Chamados(),
      url: null,
      file: null,
      validarTamanhoFile: false,
      options: [
        { id: 1, label: 'Leforte Liberdade' },
        { id: 3, label: 'Leforte Bandeirantes' },
        { id: 2, label: 'Hospital Abcde' }
      ],
      cd_hospital: null,
      alertTitulo: '',
      alertCorpo: '',
      alertStatus: null
    }
  },
  components: {
    AlertDismissible
  },
  methods: {
    onFiltered (filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    previewAnexo (e) {
      const file = e.target.files
      this.url = file[0].name;
      const reader = new FileReader()
      reader.onload = (event) => {
        this.file = event.target.result
      }
      reader.readAsDataURL(file[0])

      if (file[0].size > 3145728) {
        this.validarTamanhoFile = true;
      } else {
        this.validarTamanhoFile = false;
      }
    },
    gravar () {
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.chamados.cd_hospital = this.cd_hospital.id;
            this.chamados.anexo = this.file;
            this.service.cadastra(this.chamados)
              .then(
                res => {
                  this.items.push(res.data)
                  this.$refs.table.refresh();
                  this.limparForm();
                  this.alertTitulo = 'Chamado Salvo!';
                  this.alertCorpo = 'Aguarde o hospital responder sua solicitação.';
                  this.alertStatus = true;
                }, res => {
                  this.alertTitulo = 'Erro ao gravar solicitação';
                  this.alertCorpo = 'Por favor, entre em contato com o administrador do sistema.';
                  this.alertStatus = false;
                });
          }
        });
      this.errors.clear();
    },
    listar () {
      this.service
        .listaByUsuario(this.$store.state.user.idusuario)
        .then(
          res => {
            this.items = res.data;
            this.totalRows = res.length;
          }, err => console.log(err));
    },
    limparForm () {
      this.chamados = new Chamados();
      this.url = null;
    }
  },
  created () {
    this.service = new ChamadosService();
    this.listar();
  }
}
</script>
<style>
.v-select .dropdown-toggle {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}
.erro-select {
  border: 1px solid #dd4b39;
}
</style>
