<template>
  <div class="">
    <div class="logo-head">
      <div class="login-logo">
        <img src="../../../assets/imgs/logo-mv.png" class="img-logo">
      </div>
      <br><br>
      <div class="login-logo login-box login-box-background">
        <b>REPMED</b>
      </div>
    </div>
    <div class="login-box login-bordas">
      <div class="login-box-body box-body-background">
        <slot></slot>
      </div>
    </div>
    <br><br><br><br>
  </div>
</template>
<script>
export default {
  name: 'LoginPainel'
};
</script>
<style scoped>
.login-bordas {
  box-shadow: 0px 2px 4px #bfadbf;
}
.box-body-background {
  background: #ffffff;
}
.login-box-background {
  background: #4d7498;
  color: white;
}
.logo-head {
  background: #ebebeb;
  padding-top: 10%;
}
</style>
