<template>
    <div class="box-body">
    <commit-chart :width="400" :height="200">
    </commit-chart>
    </div>
</template>

<script>
import CommitChart from '@/components/grafico/CommitChart'

export default {
  name: 'producao',
  components: {
    CommitChart
  }
};
</script>