<template>
    <div>
        <div>
            <h2> Procedimento </h2>
            <hr>
            <h3> {{hospital}} - {{convenio}} </h3>
            <hr>
        </div>
        <!-- Main table element -->
        <b-table @row-clicked="itemClicked" foot-clone show-empty stacked="md" :items="items" :fields="fields" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection">
            <template slot="isActive" slot-scope="row">{{items.procedimento?'Yes :)':'No :('}}</template>
            <template slot="FOOT_procedimento" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >Total </strong>
            </template>
            <template slot="FOOT_descricao" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop ></strong>
            </template>
            <template slot="FOOT_producao" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >26.040,00 </strong>
            </template>
            <template slot="FOOT_apresentado" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >26.040,00 </strong>
            </template>
            <template slot="FOOT_liberado" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >20.000,00 </strong>
            </template>
            <template slot="FOOT_glosa" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >6.040,00 </strong>
            </template>
        </b-table>
    </div>
</template>

<script>
export default {
  name: 'procedimento',
  data () {
    return {
      items: [
        { procedimento: '01000200', descricao: 'Consulta Geral', producao: '1.200,00', apresentado: '1.200,00', liberado: '1.000,00', glosa: '200,00' },
        { isActive: true, procedimento: '02000300', descricao: 'Consulta de ambulatório', producao: '1.880,00', apresentado: '1.880,00', liberado: '1.000,00', glosa: '880,00' },
        { procedimento: '03054100', descricao: 'Consulta', producao: '3.480,00', apresentado: '3.480,00', liberado: '1.000,00', glosa: '2.480,00' },
        { procedimento: '03154800', descricao: 'Unimed', producao: '12.000,00', apresentado: '12.000,00', liberado: '12.000,00', glosa: '0,00' },
        { procedimento: '04080700', descricao: 'Sulamérica', producao: '7.480,00', apresentado: '7.480,00', liberado: '5.000,00', glosa: '2.480,00' }
      ],
      fields: [
        { key: 'procedimento', label: 'Procedimento' },
        { key: 'descricao', label: 'Descrição' },
        { key: 'producao', label: 'Produção' },
        { key: 'apresentado', label: 'Apresentado' },
        { key: 'liberado', label: 'Liberado' },
        { key: 'glosa', label: 'Glosa' }

      ],
      totalRows: null,
      sortBy: 'cd_chamados',
      sortDesc: true,
      sortDirection: 'desc',
      filter: null,
      hospital: null,
      convenio: null
    }
  },
  methods: {
    itemClicked (record, index) {
      this.$router.push({
        name: 'procedimento-data',
        params: {hospital: this.hospital, convenio: this.convenio, procedimento: record.procedimento, producao: record.producao, apresentado: record.apresentado, liberado: record.liberado, glosa: record.glosa}
      });
    }
  },
  created () {
    this.hospital = this.$route.params.hospital;
    this.convenio = this.$route.params.convenio;
  }
};
</script>