<template>
    <div>
        <div>
            <h2> Procedimento </h2>
            <hr>
            <h3> {{hospital}} > {{convenio}} > Data</h3>
            <hr>
        </div>
        <!-- Main table element -->
        <b-table ref="table" foot-clone show-empty stacked="md" :items="items" :fields="fields" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection">
        <template slot="isActive" slot-scope="data">
            <b-button size="sm" @click.stop="data.toggleDetails" class="btn btn-default">
            <span v-if="data.detailsShowing" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            <span v-else class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </b-button>
        </template>
        <template slot="FOOT_data" slot-scope="items">
            <!-- A custom formatted footer cell  for field 'name' -->
            <strong @click.stop >Total </strong>
        </template>
        <template slot="FOOT_procedimento" slot-scope="items">
            <!-- A custom formatted footer cell  for field 'name' -->
            <strong @click.stop ></strong>
        </template>
        <template slot="FOOT_descricao" slot-scope="items">
            <!-- A custom formatted footer cell  for field 'name' -->
            <strong @click.stop ></strong>
        </template>
        <template slot="FOOT_producao" slot-scope="items">
            <!-- A custom formatted footer cell  for field 'name' -->
            <strong @click.stop >1.880,00 </strong>
        </template>
        <template slot="FOOT_apresentado" slot-scope="items">
            <!-- A custom formatted footer cell  for field 'name' -->
            <strong @click.stop >1.880,00 </strong>
        </template>
        <template slot="FOOT_liberado" slot-scope="items">
            <!-- A custom formatted footer cell  for field 'name' -->
            <strong @click.stop >1.000,00 </strong>
        </template>
        <template slot="FOOT_glosa" slot-scope="items">
            <!-- A custom formatted footer cell  for field 'name' -->
            <strong @click.stop >880,00 </strong>
        </template>
        </b-table>
    </div>
</template>

<script>
export default {
  name: 'procedimento-data',
  data () {
    return {
      items: [
        { data: '01/05/2018', procedimento: '02000300', descricao: 'Consulta de ambulatório', producao: '600,00', apresentado: '600,00', liberado: '600,00', glosa: '0,00' },
        { data: '15/05/2018', procedimento: '02000300', descricao: 'Consulta de ambulatório', producao: '300,00', apresentado: '300,00', liberado: '300,00', glosa: '0,00' },
        { data: '18/05/2018', procedimento: '02000300', descricao: 'Consulta de ambulatório', producao: '980,00', apresentado: '980,00', liberado: '100,00', glosa: '880,00' }
      ],
      fields: [
        { key: 'data', label: 'Data' },
        { key: 'procedimento', label: 'Procedimento' },
        { key: 'descricao', label: 'Descrição' },
        { key: 'producao', label: 'Produção' },
        { key: 'apresentado', label: 'Apresentado' },
        { key: 'liberado', label: 'Liberado' },
        { key: 'glosa', label: 'Glosa' }

      ],
      totalRows: null,
      sortBy: 'cd_chamados',
      sortDesc: true,
      sortDirection: 'desc',
      filter: null,
      hospital: null,
      convenio: null,
      preco: '2.000,00'
    }
  },
  created () {
    this.hospital = this.$route.params.hospital;
    this.convenio = this.$route.params.convenio;
  }
};
</script>