<template>
    <div>
        <div>
            <h2> Visão Geral </h2>
            <hr>
        </div>
        <!-- Main table element -->
        <b-table @row-clicked="itemClicked" ref="table" foot-clone show-empty stacked="md" :items="items" :fields="fields">
            <template slot="actions" slot-scope="items">
            </template>
            <template slot="FOOT_hospital" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >Total </strong>
            </template>
            <template slot="FOOT_convenio" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop ></strong>
            </template>
            <template slot="FOOT_producao" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >6.560,00</strong>
            </template>
            <template slot="FOOT_apresentado" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >6.560,00</strong>
            </template>
            <template slot="FOOT_liberado" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >3.200,00</strong>
            </template>
            <template slot="FOOT_glosa" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >3.360,00</strong>
            </template>
            <template slot="FOOT_recurso" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >0,00</strong>
            </template>
        </b-table>
    </div>
</template>

<script>
import ProducaoService from '@/domain/producao/ProducaoService.js';

export default {
  name: 'producao',
  data () {
    return {
      items: [
        { hospital: 'Lefort Bandeirantes', convenio: 'Bradesco Saúde', producao: '1.200,00', apresentado: '1.200,00', liberado: '1.200,00', glosa: '0,00', recurso: '0,00' },
        { hospital: 'Lefort Liberdade', convenio: 'Unimed', producao: '1.880,00', apresentado: '1.880,00', liberado: '1.000,00', glosa: '880,00', recurso: '0,00' },
        { hospital: 'Lefort Morumbi', convenio: 'Sulamérica', producao: '3.480,00', apresentado: '3.348,00', liberado: '1.000,00', glosa: '2.480,00', recurso: '0,00' }
      ],
      fields: [
        { key: 'hospital', label: 'Hospital', 'class': 'text-center', sortDirection: 'asc' },
        { key: 'convenio', label: 'Convênio' },
        { key: 'producao', label: 'Produção' },
        { key: 'apresentado', label: 'Apresentado' },
        { key: 'liberado', label: 'Liberado' },
        { key: 'glosa', label: 'Glosa' },
        { key: 'recurso', label: 'Recurso' }
      ],
      totalRows: null,
      sortBy: 'hospital',
      sortDesc: false,
      sortDirection: 'asc'
    }
  },
  methods: {
    itemClicked (record, index) {
      this.$router.push({
        name: 'procedimento',
        params: {hospital: record.hospital, convenio: record.convenio}
      });
    }
  },
  created () {
    this.service = new ProducaoService();
    this.service.lista().then(
      res => {
        console.log('buscou');
        console.log(res.data);
      }, err => console.log(err));
  }
};
</script>
