<template>
  <div class="">
    <box-bord></box-bord>
    <br>
    <div class="row">
      <div class="col-md-6">
        <acesso-rapido></acesso-rapido>
      </div>
      <div class="col-md-6">
        <ultimas-notificacoes></ultimas-notificacoes>
      </div>
    </div>
  </div>
</template>

<script>
import boxBord from '@/components/BoxBorad';
import AcessoRapido from '@/components/AcessoRapido';
import UltimasNotificacoes from '@/components/UltimasNotificacoes';

export default {
  name: 'Home',
  components: {
    boxBord,
    AcessoRapido,
    UltimasNotificacoes
  }
};
</script>
