<template>
  <div v-if="status != null">
    <div v-if="status === true">
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
          <i class="icon fa fa-check"></i>{{msgTitulo}}</h4>
        {{msgCorpo}}
      </div>
    </div>
    <div v-else>
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
          <i class="icon fa fa-times"></i>{{msgTitulo}}</h4>
        {{msgCorpo}}
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'AlertDismissible',
  props: ['msgTitulo', 'msgCorpo', 'status']
};
</script>
