<template>
  <div>
    <span class="text-cinza">
      <b>Acesso rápido</b>
    </span>
    <div class="box-body" style="border: 1px solid #cccccc;">
      <table class="table">
        <tbody>
          <tr class="tr-topo">
            <td>
              <span>Upload de nota fiscal no repasse XXX</span> <br>
              <small>28/05/2018 às 17h23</small>
            </td>
          </tr>
          <tr>
            <td>
              <span>Upload de nota fiscal no repasse XXX</span> <br>
              <small>28/05/2018 às 17h23</small>
            </td>
          </tr>
          <tr>
            <td>
              <span>Upload de nota fiscal no repasse XXX</span> <br>
              <small>28/05/2018 às 17h23</small>
            </td>
          </tr>
          <tr>
            <td>
              <span>Upload de nota fiscal no repasse XXX</span> <br>
              <small>28/05/2018 às 17h23</small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UltimasNotificacoes'
};
</script>
<style scoped>
.tr-topo {
  border-style: none !important;
  border: none !important;
}
tr {
  border-top: 2px solid #cccccc57;
}
.text-cinza {
  color: #666666 !important;
  padding: 5px;
}
.text-azul {
  color: #4375a3 !important;
}

</style>
