<template>
  <div>
    <h2>
      Editar Usuário
    </h2>
    <form @submit.prevent="gravar()" enctype="multipart/form-data">
    <hr>
    <alert-dismissible :msgTitulo="alertTitulo" :msgCorpo="alertCorpo" :status="alertStatus"></alert-dismissible>
      <div div class="row">
        <div class="col-md-2">
          <br> <br>
          <img class="profile-user-img img-responsive img-circle circle-img-size" :src="url || urlImgDefault" alt="User profile picture">
          <br>
          <button class="btn btn-file btn-block btn-flat">
            Imagem de perfil
            <input type='file' id="file" ref="file" accept='image/*' @change="previewImage" />
          </button>
        </div>
        <div class="col-md-2">
          <div :class="errors.has('cpf') ? 'form-group has-error' : 'form-group'">
            <label>CPF</label>
            <input type="text" name='cpf' v-model="usuario.cpf" class="form-control" id="cpf" v-mask="'999.999.999-99'" placeholder="Informe um CPF válido" v-validate="{ required: true, regex: /[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}/ }">
            <span class="help-block" v-show="errors.has('cpf')">{{ errors.first('cpf') }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div :class="errors.has('nome') ? 'form-group has-error' : 'form-group'">
            <label>Nome</label>
            <input type="text" name='nome' v-model="usuario.nome" class="form-control" id="nome" placeholder="Informe nome completo" v-validate="'required|min:1'">
            <span class="help-block" v-show="errors.has('nome')">{{ errors.first('nome') }}</span>
          </div>
        </div>
        <div class="col-md-1">
          <div :class="errors.has('codigo') ? 'form-group has-error' : 'form-group'">
            <label>Código</label>
            <input type="text" name='codigo' v-model="usuario.codigo" v-validate="'required|min:1'" class="form-control" id="codigo">
            <span class="help-block" v-show="errors.has('codigo')">{{ errors.first('codigo') }}</span>
          </div>
        </div>
        <div class="col-md-2">
          <div :class="errors.has('conselho') ? 'form-group has-error' : 'form-group'">
            <label>Conselho</label>
            <div :class="errors.has('conselho') ? 'erro-select' : ''">
              <b-form-select name='conselho' v-validate="'required'" v-model="usuario.conselho" :options="conselho">
                <template slot="first">
                  <option :value="null" disabled></option>
                </template>
              </b-form-select>
            </div>
            <span class="help-block" v-show="errors.has('conselho')">{{ errors.first('conselho') }}</span>
          </div>
        </div>
        <div class="col-md-1">
          <div :class="errors.has('uf_conselho') ? 'form-group has-error' : 'form-group'">
            <label>UF</label>
            <div :class="errors.has('uf_conselho') ? 'erro-select' : ''">
              <b-form-select name='uf_conselho' v-validate="'required'" v-model="usuario.uf_conselho" :options="uf_conselho">
                <template slot="first">
                  <option :value="null" disabled></option>
                </template>
              </b-form-select>
            </div>
            <span class="help-block" v-show="errors.has('uf_conselho')">{{ errors.first('uf_conselho') }}</span>
          </div>
        </div>
        <div class="col-md-5">
          <div :class="errors.has('endereco') ? 'form-group has-error' : 'form-group'">
            <label>Endereço</label>
            <input type="text" name='endereco' v-model="usuario.endereco" class="form-control" id="endereco" placeholder="Informe um Endereço" v-validate="'required|min:1'">
            <span class="help-block" v-show="errors.has('endereco')">{{ errors.first('endereco') }}</span>
          </div>
        </div>
        <div class="col-md-1">
          <div :class="errors.has('numero') ? 'form-group has-error' : 'form-group'">
            <label>Nº</label>
            <input type="text" name='numero' v-model="usuario.numero" class="form-control" id="numero" placeholder="Nº" v-validate="'required|min:1'">
            <span class="help-block" v-show="errors.has('numero')">{{ errors.first('numero') }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div :class="errors.has('cbos') ? 'form-group has-error' : 'form-group'">
          <label>CBO-S</label>
            <div :class="errors.has('cbos') ? 'erro-select' : ''">
              <v-select :options="listaCbo" name='cbos' v-validate="'required'" placeholder=" -- Selecione o Codigo do CBO -- " label="DS_CBO" v-model="cobs_usuario">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
            </div>
          <span class="help-block" v-show="errors.has('cbos')">{{ errors.first('cbos') }}</span>
          </div>
        </div>
        <div class="col-md-5">
          <div :class="errors.has('bairro') ? 'form-group has-error' : 'form-group'">
            <label>Bairro</label>
            <input type="text" name='bairro' v-model="usuario.bairro" class="form-control" id="bairro" placeholder="Informe Bairro" v-validate="'required|min:1'">
            <span class="help-block" v-show="errors.has('bairro')">{{ errors.first('bairro') }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <div :class="errors.has('cidade') ? 'form-group has-error' : 'form-group'">
            <label>Cidade</label>
            <input type="text" placeholder="Informe cidade" name='cidade' v-model="usuario.cidade" class="form-control" id="cidade" v-validate="'required|min:1'">
            <span class="help-block" v-show="errors.has('cidade')">{{ errors.first('cidade') }}</span>
          </div>
        </div>
        <div class="col-md-2">
          <div :class="errors.has('estado') ? 'form-group has-error' : 'form-group'">
            <label>Estado</label>
            <div :class="errors.has('estado') ? 'erro-select' : ''">
              <b-form-select v-model="usuario.estado" name='estado' :options="estado" v-validate="'required'">
                <template slot="first">
                  <option :value="null" disabled></option>
                </template>
              </b-form-select>
            </div>
            <span class="help-block" v-show="errors.has('estado')">{{ errors.first('estado') }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="text-align: right;">
        <button type="submit" class="btn  btn-primary">   Salvar   </button>
      </div>
    </form>
        <!-- Main table element -->
    <div class="col-md-12 box-header with-border" style="text-align: left;">
      <hr>
      <h5 class="box-title">Associados</h5>
    </div>
    <b-table show-empty stacked="md" :current-page="currentPage" :per-page="perPage" ref="table" striped hover :items="items" :fields="fields2">
      <template slot="isActive" slot-scope="data">
      </template>
    </b-table>
    <b-row>
      <b-col md="12" style="text-align: right;" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>
    <div class="col-md-6 box-header" style="text-align: left;">
      <h5 class="box-title">Equipe</h5>
      <hr>
      <div class="col-md-12">
        <b-table striped hover :items="equipemedica" :fields="fields">
        </b-table>
      </div>
    </div>
  </div>
</template>
<script>
import _imgDefault from '@/assets/imgs/img-perfil-defalt.jpg';
import listaCbo from '@/components/util/listCbo.js';
import Usuario from '@/domain/usuario/Usuario.js';
import UsuarioService from '@/domain/usuario/UsuarioService.js';
import AlertDismissible from '@/components/AlertDismissible';

const items = [
  { isActive: true, hospital: 'Hospital ABC', cnpj: '11.11111.1111/1-10', cidade: 'São Paulo', estado: 'SP', banco: 'Bradesco', agencia: '123', conta: '12345-6' },
  { isActive: false, hospital: 'Hospital Restauração', cnpj: '11.11111.1111/1-10', cidade: 'São Paulo', estado: 'SP', banco: 'Bradesco', agencia: '123', conta: '12345-6' },
  { isActive: true, hospital: 'Hospital das clinicas', cnpj: '11.11111.1111/1-10', cidade: 'São Paulo', estado: 'SP', banco: 'Bradesco', agencia: '123', conta: '12345-6' },
  { isActive: false, hospital: 'Hospital do Coração', cnpj: '11.11111.1111/1-10', cidade: 'São Paulo', estado: 'SP', banco: 'Bradesco', agencia: '123', conta: '12345-6' }
]

export default {
  name: 'User',
  components: {
    AlertDismissible
  },
  data () {
    return {
      usuario: new Usuario(),
      listaCbo,
      url: null,
      urlImgDefault: _imgDefault,
      items: items,
      // Note 'isActive' is left out and will not appear in the rendered table
      fields2: {
        hospital: {
          label: 'Hospital'
        },
        cnpj: {
          label: 'CNPJ'
        },
        cidade: {
          label: 'Cidade'
        },
        estado: {
          label: 'Estado'
        },
        banco: {
          label: 'Banco'
        },
        agencia: {
          label: 'Agência'
        },
        conta: {
          label: 'Conta'
        }
      },
      fields: [ 'equipe', 'chefe' ],
      equipemedica: [
        { isActive: true, equipe: 'Cardiovascular', chefe: 'Joãozinho' },
        { isActive: false, equipe: 'Ortopedica', chefe: 'Mariazinha' },
        { isActive: true, equipe: 'Neurovascular', chefe: 'Pedrinho' }
      ],
      conselho: [
        { value: '1', text: 'CRM' },
        { value: '2', text: 'CFM' },
        { value: '3', text: 'CREMEPE' }
      ],
      uf_conselho: [
        { value: '1', text: 'PE' },
        { value: '2', text: 'SP' },
        { value: '3', text: 'PB' },
        { value: '4', text: 'AM' },
        { value: '5', text: 'RJ' }
      ],
      estado: [
        { value: '1', text: 'Pernambuco' },
        { value: '2', text: 'São Paulo' },
        { value: '3', text: 'Paraiba' },
        { value: '4', text: 'Amazonas' },
        { value: '5', text: 'Rio de Janeiro' }
      ],
      totalRows: items.length,
      currentPage: 1,
      perPage: 3,
      cobs_usuario: null,
      alertTitulo: '',
      alertCorpo: '',
      alertStatus: null,
      usuariovuex: {
        nomeusuario: null,
        fotousuario: null
      }
    };
  },
  methods: {
    previewImage (e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
      const reader = new FileReader()
      reader.onload = (event) => {
        this.file = event.target.result
      }
      reader.readAsDataURL(file)
    },
    gravar () {
      this.usuario.cbos = this.cobs_usuario.CD_CBO;
      var desired = this.usuario.cpf.replace(/[-.]/gi, '');
      this.usuario.cpf = desired;
      this.usuario.foto = this.file;
      // this.usuario = JSON.parse(JSON.stringify(this.usuario));
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.service.atualiza(this.usuario)
              .then(response => {
                this.usuariovuex.nomeusuario = this.usuario.nome;
                this.usuariovuex.fotousuario = this.usuario.foto;
                this.$store.commit('UPDATE_USER', this.usuariovuex);
                this.alertTitulo = 'Usuário Salvo';
                this.alertCorpo = 'Suas informações foram alteradas com sucesso';
                this.alertStatus = true;
              }, response => {
                console.log(response.daat);
              });
          }
        });
    }
  },
  created () {
    this.service = new UsuarioService();
    this.service.lista();
    this.service.busca(this.$store.state.user.idusuario).then(
      res => {
        this.usuario = res.data;
        var aux = this.usuario.cbos;
        this.cobs_usuario = listaCbo.filter(function (elem) {
          return elem.CD_CBO === aux;
        });
        this.cobs_usuario = this.cobs_usuario[0];
      }, err => console.log(err));
  }
};
</script>
<style>
.circle-img-size {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}
</style>
